*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.shadow{
    margin-top: -12rem;
    box-shadow: 3px 4px 19px -6px rgba(0,0,0,0.77);
}

.shadow_baru{
    margin-top: -12rem;
    box-shadow: 3px 4px 19px -6px rgba(0,0,0,0.77);
}
.perbesarCard{
    max-width=20%;
}
body {
    background: #F1F3FA;
  }
  
  /* Profile container */
  .profile {
    margin: 20px 0;
  }
  
  /* Profile sidebar */
  .profile-sidebar {
    padding: 20px 0 10px 0;
    background: #fff;
  }
  
  .profile-userpic img {
    float: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 50%;
    height: 50%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
  }
  
  .profile-usertitle {
    text-align: center;
    margin-top: 20px;
  }
  
  .profile-usertitle-name {
    color: #5a7391;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
  }
  
  .profile-usertitle-job {
    text-transform: uppercase;
    color: #5b9bd1;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  
  .profile-userbuttons {
    text-align: center;
    margin-top: 10px;
  }
  
  .profile-userbuttons .btn {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    padding: 6px 15px;
    margin-right: 5px;
  }
  
  .profile-userbuttons .btn:last-child {
    margin-right: 0px;
  }
      
  .profile-usermenu {
    margin-top: 30px;
  }
  
  .profile-usermenu ul li {
    border-bottom: 1px solid #f0f4f7;
  }
  
  .profile-usermenu ul li:last-child {
    border-bottom: none;
  }
  
  .profile-usermenu ul li a {
    color: #93a3b5;
    font-size: 14px;
    font-weight: 400;
  }
  
  .profile-usermenu ul li a i {
    margin-right: 8px;
    font-size: 14px;
  }
  
  .profile-usermenu ul li a:hover {
    background-color: #fafcfd;
    color: #5b9bd1;
  }
  
  .profile-usermenu ul li.active {
    border-bottom: none;
  }
  
  .profile-usermenu ul li.active a {
    color: #5b9bd1;
    background-color: #f6f9fb;
    border-left: 2px solid #5b9bd1;
    margin-left: -2px;
  }
  
  /* Profile Content */
  .profile-content {
    padding: 20px;
    background: #fff;
    min-height: 460px;
  }
  .tiket-card{
    position: relative;
    width: 1126px;
    height: 303px;
    left: -5px;
    top: -8px;

background: #FFFFFF;
  }

  .nama-event{
    position: absolute;
left: 25.14%;
right: 32.78%;
top: 40.35%;
bottom: 76.12%;

font-family: Roboto;
font-style: italic;
font-weight: 300;
font-size: 40px;
line-height: 47px;
text-align: center;
letter-spacing: 0.03em;
text-indent: 2px;

color: #292F33;

  }

.nama-pengguna{

  position: absolute;
left: 26.67%;
right: 56.88%;
top: 20.45%;
bottom: 79.03%;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 50px;
line-height: 59px;
text-align: center;
letter-spacing: 0.03em;
text-indent: 2px;

color: #292F33;

}

.card-oren{
  position: absolute;
width: 161px;
height: 300px;
left: 100px;
top: 0px;

background: #F38230;
}

.harga-tiket{
  position: absolute;
left: 15.67%;
right: 46.88%;
top: 74.45%;
bottom: 79.03%;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 59px;
text-align: center;
letter-spacing: 0.03em;
text-indent: 2px;

color: #292F33;
}

.tulisan-cycling{
  position: absolute;
  left: 6.68%;
  right: 31.62%;
  top: 148.79%;
  bottom: -96.86%;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 59px;
  text-align: center;
  letter-spacing: 0.03em;
  text-indent: 2px;
  
  color: #FFFFFF;

  transform: rotate(-90deg);

}

.token{

  position: absolute;
left: 87%;
right: 46.88%;
top: 0%;
bottom: 79.03%;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 25px;
line-height: 59px;
text-align: center;
letter-spacing: 0.03em;
text-indent: 2px;

color: #292F33;

}